body {
  font-family: "Playfair Display", serif;
  margin-top: 0%;
}
.first-link {
  float: right;
  margin: auto;
  padding-inline: 20%;
}

.header-option {
  text-decoration: none;
  padding-inline: 1;
  text-size-adjust: auto;
}

span {
  color: rgb(230, 110, 101);
}

.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding: 2%;
}

#intro {
  box-shadow: 10px 10px 20px gray;
  border-radius: 15px;
  padding: 5%;
}

.first-section {
  background-image: url(header-bg.png);
  background-repeat: no-repeat;
}
section {
  height: 500px;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(lightsalmon, tomato);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font: 700px;
  width: 100%;
}
.intro-2 {
  box-shadow: 10px 10px 40px rgb(100, 3, 3);
  border-radius: 50px;
  padding: 5%;
}

.second-section {
  background-image: url(12.png);
  background-position: left;
}

#work-heading {
  text-align: center;
  font-size: 50px;
}

.port-image {
  height: 10%;
}

.half-width-2 {
  height: 20%;
  float: left;
  margin-right: 10%;
}

.half-width-2 img {
  height: 100px;
  position: center;
}

.work-experience {
  background-color: rgba(128, 128, 128, 0.315);
}

h4 {
  text-align: center;
}
h6 {
  text-align: center;
}
.last-image {
  height: 150px;
}

.contact-div {
  height: 500px;
  position: unset;
  float: center;
}
.contact-div img {
  height: 150px;
}

.first.div {
  border: solid red;
  height: 500px;
  float: left;
}
