body {
  font-family: "Playfair Display", serif;
  margin-top: 2%;
}
.first-link {
  float: right;
  margin: auto;
  padding-inline: 20%;
}

.header-option {
  text-decoration: none;
  padding-inline: 1;
  text-size-adjust: auto;
}
